<div class= "container">
<h1>Stupid Coaching</h1>
</div>

<div class= "container you">
<h3><%= @question  %> <br> <br> <span>-You</span></h3>
</div>

<div class= "container coach">
<h3><%= @answer %> <br> <br> <span>-Your coach</span></h3>
</div>

<div class= "container ask">
<%= link_to "Ask a new question!", ask_path  %>
</div>
