<form action="answer">
  <div class= "mb-3">
  <input type="text" name="question" placeholder="What's your question?" class= "form-control">
  </div>
  <div>
  <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
