// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.you {
  margin-top: 40px;
  background-color: rgb(205, 243, 230);
  padding: 10px;
}
.coach {
  background-color: rgb(243, 243, 175);
  margin-top: 20px;
  padding: 10px;
}

.ask {
  margin-top: 20px;
}

span {
  font-size: 20px;
  font-style: italic;
}
